<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="index.html">Головна</a>
                </li>

                <li class="nav__item">
                    <a class="nav__link has-subnav" href="#">Статті</a>

                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="post.html">Загальні принципи написання статей</a>

                            <a class="subnav__link" href="post.html">Не загружається відео на локальний сервер?</a>

                            <a class="subnav__link" href="post.html">Чому вибір з трьох це пастка?</a>
                        </li>
                    </ul>

                </li>

                <li class="nav__item">
                    <a class="nav__link" href="text.html">Інфо</a>
                </li>

            </ul>
        </nav>

        <button class="burger" type="button" id="sidebarToggle">
            <span>Відкрити навігацію</span>
        </button>

    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="profile.html">Профіль</a>
                </li>

                <li class="nav__item">
                    <a class="nav__link" href="signIn.html">Вихід</a>
                </li>
            </ul>
        </nav>

        <form class="search" action="search.html" method="get">
            <input class="search__input" type="text" placeholder="Пошук">
        </form>

    </div>
</header>
